let mapleader = ' '

set number
set relativenumber

set mouse = 'a'

set clipboard = 'unnamedplus'

set breakindent

set undofile

set ignorecase
set smartcase

set incsearch

set hlsearch
nnoremap <Esc> :nohlsearch<CR>

set signcolumn = 'yes'

set scrolloff = 10

set colorcolumn = 80

set highlightedyank
let g:highlightedyank_highlight_duration = '150'

nnoremap <leader>sf :action GotoFile<CR>
nnoremap <leader>sg :action FindInPath<CR>
nnoremap gr :action ShowUsages<CR>
nnoremap gI :action GotoImplementation<CR>
nnoremap <leader>D :action GotoTypeDeclaration<CR>
nnoremap <leader>ws :action GotoSymbol<CR>
nnoremap <leader>rn :action RenameElement<CR>
nnoremap <leader>ca :action ShowIntentionActions<CR>
nnoremap <leader>gD :action GotoDeclaration<CR>
nnoremap <leader>rf :action ReformatCode<CR>
nnoremap <leader>oi :action OptimizeImports<CR>
